.row
    .col-sm-4
        label {{'Send Email Notifications to'|translate}}
        div(uib-tooltip="{{isCurrentUserCaseContact() ? 'You are case contact and therefore you cannot be removed as watcher.' : '' | translate}}")
            button.btn.btn-info.btn-xs(
                ng-click="toggleCurrentUser()",
                ng-disabled="saving || isCurrentUserCaseContact()",
                ng-show="!CaseService.usersLoading && !securityService.loginStatus.authedUser.org_admin && !securityService.loginStatus.authedUser.is_internal")
                    span(ng-hide="isCurrentUserNotifiedUser() || isCurrentUserCaseContact()", translate) Add me as watcher
                    span(ng-show="isCurrentUserNotifiedUser() || isCurrentUserCaseContact()", translate) Remove me as watcher
    .col-sm-8
        .spinner.spinner-inline(ng-show="CaseService.usersLoading")
        div(ng-show="!CaseService.usersLoading && securityService.loginStatus.authedUser.org_admin")
            select(
            chosen,
            multiple,
            data-placeholder="{{'Select a User'|translate}}",
            ng-disabled='saving',
            ng-model='selectedUsers',
            ng-change='selectedUsersChanged()',
            width='"100%"',
            ng-options="user.sso_username as (user.first_name+' '+user.last_name+' <'+user.sso_username+'>') for user in usersOnAccount | orderBy:['first_name','last_name']")
        div.edit-emailNotify-Container(ng-show="!CaseService.usersLoading && !securityService.loginStatus.authedUser.org_admin")
            span.label-contact(ng-repeat='user in mapUsers(selectedUsers)', ng-if='RHAUtils.isNotEmpty(selectedUsers)') {{user.first_name}} {{user.last_name}} <{{user.sso_username}}>
            span.disable-span-text(ng-if='RHAUtils.isEmpty(selectedUsers)', translate='') No users selected
.row(ng-if="!CaseService.isManagedAccount(CaseService.kase.account_number)")
    .col-sm-8.pull-right
        .spinner.spinner-inline.spinner-xs(ng-if="CaseService.loadingCustomNotificationEmails")
        div.label-contact(
        ng-if="!CaseService.loadingCustomNotificationEmails && CaseService.customNotificationEmails.length > 0",
        ng-repeat='email in CaseService.customNotificationEmails')
            span {{email.emailAddress}}
            a(ng-click="CaseService.removeCustomNotificationEmail(email)", ng-disabled="CaseService.loadingCustomNotificationEmails")
                i.fa.fa-close
.row.bs-row-margin-top-small(ng-if="!CaseService.isManagedAccount(CaseService.kase.account_number)")
    .col-sm-4
        button.btn.btn-info.btn-xs(ng-disabled="!CaseService.isValidCustomEmail || CaseService.loadingCustomNotificationEmails || CaseService.isLinkedEmail() || CaseService.newCustomEmail === ''", ng-click="CaseService.postCustomNotificationEmail()") {{"Add Custom Email" | translate}}
    .col-sm-8
        input.form-control(
            ng-disabled="CaseService.loadingCustomNotificationEmails",
            type="text",
            placeholder="{{'Enter Custom Email Address' | translate}}",
            ng-model="CaseService.newCustomEmail",
            ng-change="CaseService.onChangeCustomEmail()")
        span(ng-if="!CaseService.isValidCustomEmail && CaseService.newCustomEmail && CaseService.newCustomEmail.length > 0 || CaseService.isLinkedEmail()") {{CaseService.isLinkedEmail() ? 'Email already subscribed to notifications' : "Invalid Email Address" | translate}}
