label {{'Sort by'|translate}}&nbsp;
select#rha-filter-select(
    chosen,
    width='"auto"',
    ng-init="init()"
    no_results_text="'No match found'|translate",
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.filterSelect',
    ng-change='CaseService.onFilterSelectChanged()',
    ng-options='sort as sort.name | translate for sort in ConstantsService.sortByParams',
    disable_search_threshold=10)
