select(chosen,
    width='"100%"',
    ng-model='filterByMeAsCreator',
    data-placeholder="{{'Loading Users...' | translate}}",
    ng-options='k as v | translate for (k, v) in filterByMeAsCreatorOptions',
    ng-disabled='!securityService.loginStatus.isLoggedIn || CaseService.usersLoading || CaseService.submittingCase',
    ng-change="onFilterByMeAsCreatorChange()")
